@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the site of Ben</h1>

<h2 style="color:orange;">
	This site is a work in progress, but thanks for stopping by!
</h2>

@* <h2 style="color:orange;font-weight:bolder">
	Hope this has a cool color too!
</h2>

<h2 style="color:lightpink;font-weight:bold;">
	Hope <strong> FART </strong> this has a <strong> very</strong> cool color too!
</h2>

<p>
	We got all of the cool stuff (but not yet).
</p>

And this too! I have this variable called j with value @j

@code
{
	int j = 3;
}
 *@