@inherits LayoutComponentBase

<PageTitle>Ben Brookhart's Site</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <div class="top-row px-4">
@*             <a href="https://www.youtube.com/watch?v=AkJYdRGu14Y&ab_channel=AbdulCisse" target="_blank">Fortnite Battle Pass</a> *@
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>